@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("style/header.css");
@import url("style/home.css");
@import url("style/footer.css");
@import url("style/detail.css");

:root {
  --primary-color: #ff5722;
  --white: #fff;
  
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
background: "linear-gradient(180deg, #F9FAFB 0%, #EDE9FE 100%)!important",
}

main {
  flex: 1;
  margin-bottom: 100px;
  
}

a, span, p {
  font-family: "Montserrat";
}




.pagination{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}