.home__navigation {
  display: flex;
  align-items: center;
  color: #a8a8a8;
  gap: 10px;
}

.pizza__item {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 1rem;
  padding: 2rem;

  border: 1px solid rgba(255, 255, 255, .25);

  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);

}

.pizza__item-start {
  margin-top: 2rem;
  
  
  /* height: 300px!important; */
}

.order__container_mobile {
  flex-direction: column;
  
}

.contact__form {
  width: 500px;
}

.pizza__item-start p {
  font-size: 10px;
}

.pizza__item-title {
  margin: 8px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.pizza__item-title a {
  text-decoration: none;
  color: black;
}

.pizza__item-title a:hover {
  color: #ff5722;
}

.pizza__item-img {
  height: 200px;
  width: 200px;
}

.pizza__item-img:hover {
  transform: translate(0, 3px);
}

.pizza__title {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 1rem;
}
.pizza__item-end{
justify-content: space-between;
    display: flex;
    margin-top: 1.5rem;
}
.pizza__img-button {
  background-color: transparent;
  border: 0;
}

.pizza__item-price {
  font-weight: 600;
  font-size: 14px;
}

.pizza__body {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.products__main {
  display: flex;
  justify-content: space-between;
}

.home__display {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.home__display-between {
  display: flex;
  gap: 0.5rem;
}

.sort__button {
  margin-top: 0.5rem;
}

/* container d-flex gap-5 mt-3 align-items-start */
.product__details {
  width: 1000px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  align-items: start;
}

@media screen and (max-width: 420px) {
  .pizza__body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .pizza__title {
    font-size: 16px;
  }

  .table__onmobile {
    width: 20%;
  }

  .mobile__fs_10 {
    font-size: 10px;
  }

  .order__container_mobile {
    flex-direction: column;
  }

  .contact-form__mobile {
    width: 100%;
  }

  .custom-slide__mobile {

  }

  .product__details {
    width: 320px;
    display: flex;
    flex-direction: column;
  }
}
